In [1]:
# EDA
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd
from matplotlib.animation import FuncAnimation

In [85]:
df  = pd.read_csv("electronics_1.csv")

In [133]:
df.head()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [131]:
df[df["year"]==2001]["brand"].value_counts()[:10]

Sony         360
Kodak        175
Philips       40
Toshiba       29
Panasonic     19
Fujifilm      17
Name: brand, dtype: int64